# Папка с результатами тестов Allure
allure-results/

# Папка с отчетом Allure (если создаёте локально)
allure-report/

# Логи и временные файлы
*.log

# Кэш браузера/selenium (если есть)
*.cache

# Python-специфичные
__pycache__/
*.pyc
*.pyo
*.pyd

# Виртуальное окружение (если создаёте в папке проекта)
venv/
env/

# Другие временные файлы
*.swp
*.tmp
*.bak
